/*
.Menu{
  display: none;
}
.onk{
  display: none;
}
.menu .onk:checked ~ ul{
  visibility: visible;
  opacity: 1;
  height: 100%;
}
*/
@media (max-width:650px) {
 .end-content h2{
   font-size: 10px;
 }
  .end-content{
    padding: 10px;
  }
.right-content h1{
  font-size: 15px;
    margin-bottom: 1px;
}
.right-content p{
  font-size: 7px;
  line-height: 1.6em;
}
.banner img{
  width: 100%;
  height: 180px;
}
.footer {
  margin-top: 5px;
}
.menu ul li{
  padding: 5px 8px;
}
.menu ul li a{
  font-size: 10px;
  font-weight: 800;
}
.menu-logo img{
  max-width: 20%;
}
.main-menu {
  display: block;
  height: 120px;
}
.menu{
  width: 100%;
}
.menu-logo{
  position: relative;
  right: 100px;
  width: 100%;
}
.menu-logo h4{
  margin-top: 7px;
}
.menu ul{
  
  position: relative;
  left: 30px;
  bottom: 90px;
}
.Menu span{
  font-size: 40px;

}
.Menu{
  pointer-events: none;
  color: #3243FFF2;
  display: block;
  position: relative;
  bottom: 100px;
  text-align: right;
}
.menu input{
  width: 80px ;
  height: 80px;
}
/*
.onk{
  position: relative;
  left: 332px;
bottom: 68px;
*/
}
body{
  overflow-x: hidden;
}
.Extra h1{
  font-size: 20px;
  
}
.left-image{
  width: 40%;
}
.right-content{
  width: 60%;
  padding: 0px;
}
.left-image img{
  position: relative;
  right: 35px;
max-width: 130%;
}

.ios{
  position: relative;
  bottom: 15px;
  right: 20px;
}
.ios img{
  max-width: 170%;
  
}

.koi{
  position: relative;
  bottom: 23px;
      box-sizing: border-box;
      left: 14px;

}
.koi img{
    max-width: 130%;

}
.bas{
  position: relative;
  left: 15px;
  max-width: 135%;
}
.bul{
  position: relative;
  left: 16px;
  bottom: 10px;
  max-width: 135%;
}
.hagol{
  width: 100%;
  margin-bottom: 2%;
}
.alada {
  display: block;
  justify-content: center;
}
}
